body{
    background-image: url('../img/home_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
/* 主要内容 */
#main{
    overflow: hidden;
}
/* 搜索引擎容器 */
#search-engine-container{
    position: relative;
    padding-top: 64px;
    font-size: 0;
    z-index: 20;
}
/* 搜索引擎选择器 */
#search-engine-selector{
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    z-index: 1;
}
#search-engine-selector img{
    width: 86px;
    height: auto;
    vertical-align: middle;
}
#current-search-engine{
    display: inline-block;
}
#current-search-engine-button-collapse{
    display: none;
}
#search-engine-list{
    visibility: hidden;
    position: absolute;
    width: 86px;
    background-color: white;
}
.fadeIn{
    animation: show 0.5s forwards;
    -webkit-animation: show 0.5s forwards;
}
.fadeOut{
    animation: hide 0.5s forwards;
    -webkit-animation: hide 0.5s forwards;
}
@keyframes show{
    from{
        visibility: hidden;
        opacity: 0;
    }
    to{
        visibility: visible;
        opacity: 1;
    }
}
@keyframes hide{
    from{
        visibility: visible;
        opacity: 1;
    }
    to{
        visibility: hidden;
        opacity: 0;
    }
}
@-webkit-keyframes show{
    from{
        visibility: hidden;
        opacity: 0;
    }
    to{
        visibility: visible;
        opacity: 1;
    }
}
@-webkit-keyframes hide{
    from{
        visibility: visible;
        opacity: 1;
    }
    to{
        visibility: hidden;
        opacity: 0;
    }
}
#search-engine-list>img{
    border-bottom: 1px rgba(0,0,0,.2) solid;
}
#search-engine-list>img:last-of-type{
    border-bottom: none;
}
#search-engine-list>img:hover{
    background-color: #2196F3;
    transition: all 0.25s;
}
/* 搜索引擎 */
#search-engine-form{
    display: inline-block;
    vertical-align: middle;
}
#search-engine-form form{
    font-size: 0;
}
#search-engine-form form input{
    display: inline-block;
    vertical-align: middle;
    margin: 0 -18px;
    padding: 7px 20px;
    width: 350px;
    font-size: 16px;
    border: 2px #9E9E9E solid;
    outline: none;
    box-sizing: border-box;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.75);
}
#search-engine-form form input:focus{
    border: 2px #FFEB3B solid;
}
@media screen and (max-width: 600px){
    #current-search-engine{
        margin-right: -36px;
    }
    #search-engine-form{
        width: 100%;
        margin-top: 40px;
    }
    #search-engine-form form input{
        width: calc(100% - 18px);
        margin: 0 -18px 0 0;
        border-top-left-radius: 18px;
        border-bottom-left-radius: 18px;
    }
}
#search-engine-google{
    display: none;
}
/* 网址列表 */
#website-container{
    position: relative;
    max-width: 700px;
    padding: 20px 20px 0 20px;
    margin: 56px 0;
    cursor: auto;
    background-color: rgba(255, 255, 255, .75);
    border-radius: 2px;
    z-index: 10;
}
#website-container a{
    line-height: 36px;
    text-decoration: none;
    color: #2196F3;
}
#website-container a:hover{
    color: #E91E63;
}
#website-container>div{
    padding-bottom: 20px;
}
#website-container .mdui-col{
    height: 36px;
}
/* 底部提示 */
#bottom-tip{
    position: relative;
    padding-bottom: 40px;
    z-index: 20;
}
/* live2d */
#button-show-live-2d{
    visibility: hidden;
    opacity: 0;
    position: fixed;
    right: 0;
    bottom: 0;
    transition: opacity 0.5s;
}
/* 背景特效 */
#canvas-fireworks{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    pointer-events: none;
}