/* 音乐播放器 */
.music-player{
    background-color: rgba(255, 255, 255, .75) !important;
}
.aplayer.aplayer-withlist .aplayer-info .aplayer-controller .aplayer-time .aplayer-icon.aplayer-icon-menu{
    display: none !important;
}
.aplayer .aplayer-list{
    display: block !important;
}
.aplayer .aplayer-info .aplayer-music{
    position: relative;
}
/* 音乐播放器按钮 */
.button-clear-list{
    position: absolute;
    right: 0;
    font-size: 16px;
    color: #666;
    cursor: pointer;
    transition: all .2s ease;
}
.button-clear-list:hover{
    color: #FF4081;
}
.button-add-music, .button-remove-music{
    float: right;
    line-height: 32px;
    margin-left: 12px;
    font-size: 12px;
    color: #666;
    transition: all .2s ease;
}
.button-add-music:hover, .button-remove-music:hover{
    font-weight: bolder;
    color: #FF4081;
}
/* 添加到选择器 */
.selector-add-music-to{
    position: fixed;
    padding: 8px;
    text-align: left;
    font-size: 12px;
    color: white;
    background-color: rgba(97, 97, 97, .9);
    border-radius: 2px;
    z-index: 1000;
}
.selector-add-music-to span{
    display: block;
    padding-bottom: 8px;
    border-bottom: 0.5px white solid;
}
.selector-add-music-to div{
    max-width: 100px;
    padding-top: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* 底部按钮容器 */
#music-player-bottom-button-container{
    position: relative;
}
.music-player-bottom-button{
    margin: 5px;
}
/* 切换播放列表 */
.music-player-to-change-container{
    margin-top: 5px;
    text-align: left;
}
/* 移除播放列表 */
.music-player-to-remove-container{
    margin-top: 5px;
    text-align: right;
}
#music-player-remove-list-container, #music-player-change-list-container{
    display: none;
    position: absolute;
    left: -10px;
    bottom: 100%;
    margin: 5px;
    width: 142px;
    background-color: transparent;
}
.music-player-to-change-container, .music-player-to-remove-container{
    animation-duration: 0.5s;
}
.music-player-to-change, .music-player-to-remove{
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: white;
    background-color: rgba(97, 97, 97, .9);
    border-radius: 2px;
}
/* 最底部提示文字 */
#bottom-tip{
    clear: both;
}
/* 背景特效 */
#canvas-evan-you{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}