/* 抽屉式导航上部 */
#left-drawer-top{
    height: calc(100% - 144px);
    overflow: auto;
}
#left-drawer-header{
    position: relative;
}
#left-drawer-avatar{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
}
#left-drawer-avatar-image{
    display: block;
    width: 20%;
    height: auto;
    margin: 15% 0 0 40%;
    border: 3px white solid;
    /* border-radius: 50%; */
    box-sizing: border-box;
}
#left-drawer-avatar-title{
    text-align: center;
    margin: 5% 0 0 0;
}
/* 抽屉式导航下部 */
#left-drawer-bottom{
    position: fixed;
    bottom: 0;
    width: 100%;
}
#framework-based-on a{
    color: unset;
    text-decoration: none;
    line-height: 16px;
}