/* 晒单页头部 */
#unbox-header{
    margin-bottom: 10px;
    padding: 0 15px;
    border: 1px solid #ddd;
}
#unbox-header-top{
    height: 48px;
    font-size: 0;
    border-bottom: 1px solid #ddd;
}
#unbox-header-top>div{
    display: inline-block;
    vertical-align: middle;
}
#unbox-header-top-title{
    font-size: 18px;
    line-height: 1;
    color: #333;
}
#unbox-header-top-title>span{
    display: block;
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid #ddd;
}
#unbox-header-top-info{
    font-size: 14px;
    line-height: 48px;
    color: #999;
}
#unbox-header-top-info>span{
    color: #f00582;
}
#unbox-header-bottom{
    color: #666;
}
#unbox-header-bottom-menu{
    display: inline-block;
}
#unbox-header-bottom-menu>ul{
    font-size: 0;
}
#unbox-header-bottom-menu>ul>li{
    display: inline-block;
    margin-right: 50px;
    font-size: 14px;
}
#unbox-header-bottom-menu>ul>li>span{
    display: block;
    height: 40px;
    line-height: 40px;
}
#unbox-header-bottom-menu>ul>li:hover:not(.active)>span{
    color: #f00582;
}
#unbox-header-bottom-menu>ul>li.active>span{
    color: #f00582;
    border-bottom: 2px solid #f00582;
    box-sizing: border-box;
}
#unbox-header-bottom-menu>ul>li>span:hover{
    cursor: pointer;
}
#unbox-header-bottom-category{
    position: relative;
    float: right;
    font-size: 14px;
}
#unbox-header-bottom-category-current{
    position: absolute;
    top: 0;
    right: -16px;
    padding-right: 16px;
    width: 110px;
    height: 40px;
    line-height: 40px;
    text-align: right;
    background-color: white;
    border-right: 1px solid #ddd;
}
#unbox-header-bottom-category-list{
    display: none;
    position: absolute;
    top: 40px;
    right: -16px;
    padding: 10px;
    width: 200px;
    font-size: 0;
    text-align: center;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 1px 1px #ddd;
    box-sizing: border-box;
    z-index: 99;
}
#unbox-header-bottom-category-list>li{
    display: inline-block;
    width: 50%;
    font-size: 14px;
    line-height: 30px;
}
#unbox-header-bottom-category-list>li.active{
    color: #f00582;
}
#unbox-header-bottom-category-list>li>span{
    display: inline-block;
}
#unbox-header-bottom-category-list>li:not(.active)>span:hover{
    color: #f00582;
    cursor: pointer;
}
#unbox-header-bottom-category:hover #unbox-header-bottom-category-current{
    top: -1px;
    height: 42px;
    color: #f00582;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    z-index: 100;
}
#unbox-header-bottom-category:hover #unbox-header-bottom-category-list{
    display: block;
}
/* 晒单页内容 */
#unbox-content-cards>ul{
    font-size: 0;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
#unbox-content-cards>ul>li{
    display: none;
    width: 25%;
    font-size: 14px;
    border-top: 1px solid white;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid white;
}
.unbox-card{
    padding: 15px;
    line-height: 20px;
    box-sizing: border-box;
}
.unbox-card-top>div{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.unbox-card-top-img>a{
    display: block;
    width: 100%;
}
.unbox-card-top-img>a>img{
    width: 100%;
    height: 357px;
}
.unbox-card-top-title>a{
    display: inline-block;
    margin: 10px 0 5px 0;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}
.unbox-card-top-title>a:hover{
    color: #f00582;
}
.unbox-card-top-brief{
    font-size: 12px;
    color: #666;
}
.unbox-card-top-brief{
    display: block;
    display: -webkit-box;
    word-break: break-all;
    white-space: normal !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.unbox-card-top-time{
    font-size: 12px;
    color: #999;
}
.unbox-card-bottom{
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ededed;
    overflow: hidden;
}
.unbox-card-bottom-user{
    float: left;
    font-size: 0;
}
.unbox-card-bottom-user>div{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
}
.unbox-card-bottom-user-avatar>img{
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 50%;
    box-sizing: border-box;
}
.unbox-card-bottom-user-name{
    margin-left: 5px;
    max-width: 150px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.unbox-card-bottom-user-name>a{
    color: #2af;
}
.unbox-card-bottom-user-name>a:hover{
    text-decoration: underline;
}
.unbox-card-bottom-btn{
    float: right;
    font-size: 0;
}
.unbox-card-bottom-btn-like{
    display: inline-block;
    margin-left: 8px;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    color: #999;
}
.unbox-card-bottom-btn-like:hover{
    color: #f00582;
    cursor: pointer;
}
.unbox-card-bottom-btn-comment{
    display: inline-block;
    margin-left: 8px;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
}
.unbox-card-bottom-btn-comment>a{
    display: block;
    color: #999;
}
.unbox-card-bottom-btn-comment:hover>a{
    color: #f00582;
}
#unbox-content-pagination-container{
    text-align: right;
    margin-top: 20px;
}
#unbox-content-pagination-container>div{
    display: inline-block;
}
#unbox-content-pagination-left{
    font-size: 12px;
    color: #666;
}
#unbox-content-pagination-right{
    font-size: 0px;
    line-height: 30px;
    text-align: center;
    color: #999;
}
#unbox-content-pagination-right>span{
    display: inline-block;
    margin-left: 5px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #dedede;
    border-radius: 5px;
    cursor: pointer;
}
#unbox-content-pagination-right>span:hover:not(.active){
    color: #f00582;
}
#unbox-content-pagination-right>span.active{
    font-weight: bold;
    color: white;
    background-color: #f00582;
    border: 1px solid #f00582;
}
#unbox-content-pagination-right>span.disabled{
    border: 1px solid #e4e4e4;
    color: #CCC;
    background-color: #f4f4f4;
    pointer-events: none;
}
#unbox-content-pagination-right>span>a{
    color: #999;
    text-decoration: none;
}
#unbox-content-pagination-right>span:hover>a{
    color: #999;
}
#unbox-content-pagination-right>span:hover:not(.active)>a:hover{
    color: #f00582;
}
#unbox-content-pagination-right>span.active>a{
    color: white;
}
#unbox-content-pagination-right>span.disabled>a{
    color: #CCC;
}