.main-list>li{
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.main-list>li:first-of-type{
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}
#list-share-title{
    font-size: 20px;
    line-height: 40px;
}