/* 页面主体 */
#main-container{
    padding-bottom: 1.04rem;
}
/* 购物车列表  */
.page-content-list-item{
    display: block;
    padding: 0.2rem;
    font-size: 0;
    border-bottom: 0.02rem solid#ddd;
}
.page-content-list-item>div{
    display: inline-block;
    vertical-align: middle;
    font-size: 0.24rem;
}
.page-content-list-item-img{
    margin-right: 0.2rem;
    width: 1.4rem;
    height: 1.4rem;
}
.page-content-list-item-img>img{
    width: 100%;
    height: 100%;
    border: 0.02rem solid #ddd;
}
.page-content-list-item-info{
    width: calc(100% - 1.6rem);
}
.page-content-list-item-info>div{
    margin-bottom: 0.2rem;
    white-space: nowrap;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
}
.page-content-list-item-info>div:last-of-type{
    margin-bottom: 0;
}
.page-content-list-item-info-title{
    color: #999;
}
.page-content-list-item-info-amount{
    font-size: 0;
}
.page-content-list-item-info-amount>span{
    display: inline-block;
    vertical-align: middle;
    font-size: 0.24rem;
}
.page-content-list-item-info-amount>span.colored{
    color: #f00582;
}
.page-content-list-item-info-gift{
    font-size: 0;
    color: #f00582;
}
.page-content-list-item-info-gift>span{
    display: inline-block;
    vertical-align: middle;
    font-size: 0.24rem;
}
/* 账号支付 */
#page-content-payment-account-header{
    padding: 0.2rem;
    font-size: 0;
    text-align: right;
    background-color: #ddd;
}
#page-content-payment-account-header>span{
    display: inline-block;
    vertical-align: middle;
    font-size: 0.28rem;
}
#page-content-payment-account-header>span.colored{
    color: #f00582;
}
.page-content-payment-account-row{
    padding: 0.2rem;
    border-bottom: 0.02rem solid #ddd;
    overflow: hidden;
}
.page-content-payment-account-row-left{
    float: left;
    font-size: 0.24rem;
    line-height: 0.4rem;
    color: #999;
}
.page-content-payment-account-row-right{
    float: right;
    width: 0.4rem;
    height: 0.4rem;
    text-align: center;
}
.page-content-payment-account-row-right>i.iconfont{
    font-size: 0.32rem;
    line-height: 0.4rem;
    color: #f00582;
}
/* 第三方支付 */
#page-content-payment-third-header{
    padding: 0.2rem;
    font-size: 0;
    text-align: right;
    background-color: #ddd;
}
#page-content-payment-third-header>span{
    display: inline-block;
    vertical-align: middle;
    font-size: 0.28rem;
}
#page-content-payment-third-header>span.colored{
    color: #f00582;
}
.page-content-payment-third-row{
    padding: 0.2rem;
    border-bottom: 0.02rem solid #ddd;
    overflow: hidden;
}
.page-content-payment-third-row-img{
    float: left;
    margin-right: 0.1rem;
    width: 0.4rem;
    height: 0.4rem;
}
.page-content-payment-third-row-img>img{
    width: 100%;
    height: 100%;
}
.page-content-payment-third-row-text{
    float: left;
    font-size: 0.24rem;
    line-height: 0.4rem;
    color: #999;
}
.page-content-payment-third-row-checkbox{
    float: right;
    width: 0.4rem;
    height: 0.4rem;
    text-align: center;
    color: #f00582;
}
.page-content-payment-third-row-checkbox>i.iconfont{
    font-size: 0.32rem;
    line-height: 0.4rem;
}
/* 页面模态框 */
#page-layer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2000;
}
.page-layer-modal{
    margin: 50vh auto 0 auto;
    width: 60%;
    text-align: center;
    background-color: white;
    border-radius: 0.2rem;
    transform: translateY(-50%);
}
.page-layer-modal-title{
    font-size: 0.32rem;
    line-height: 2;
    border-bottom: 0.02rem solid #ddd;
}
.page-layer-modal-text{
    padding: 0.2rem 0.4rem;
    font-size: 0.32rem;
    line-height: 1.2;
    color: #999;
    border-bottom: 0.02rem solid #ddd;
}
.page-layer-modal-btn{
    font-size: 0;
    color: #2af;
}
.page-layer-modal-btn>span{
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    font-size: 0.32rem;
    line-height: 2;
}
.page-layer-modal-btn>span:first-of-type{
    border-right: 0.02rem solid #ddd;
}
#page-layer-modal-point .page-layer-modal-btn-cancel{
    width: 100%;
    border-right: 0;
}
/* 页面底部 */
#footer-container{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 7.5rem;
    background-color: white;
    border-top: 0.02rem solid #dddddd;
    z-index: 1000;
}
#footer-btn{
    padding: 0.2rem;
}
#footer-btn-submit{
    display: block;
    height: 0.64rem;
    font-size: 0.32rem;
    line-height: 0.64rem;
    text-align: center;
    color: white;
    background-color: #f00582;
    border-radius: 0.1rem;
}