#page {
    height: 100vh;
    background-image: url(../img/common/yungou_background.png);
    background-size: 100% auto;
    overflow-y: auto;
}
#page-content{
    margin: 0.8rem 0;
}
/* 页面表单 */
.card-form{
    padding: 0 0.8rem;
}
.card-form-row{
    position: relative;
    padding: 0.3rem;
    font-size: 0;
    color: #999;
    border-bottom: 0.02rem solid #bbb;
    overflow: hidden;
}
.card-form-row>*{
    display: inline-block;
    vertical-align: middle;
    font-size: 0.32rem;
}
.card-form-row-icon{
    margin-right: 0.32rem;
    width: 0.72rem;
    height: 0.56rem;
    border-right: 0.03rem solid #999;
}
.card-form-row-icon>i.iconfont{
    font-size: 0.44rem;
    line-height: 0.56rem;
}
.card-form-row-btn-code{
    position: absolute;
    top: 0.3rem;
    right: 0;
    width: 2rem;
    height: 0.56rem;
    line-height: 0.56rem;
    text-align: center;
    color: white;
    background-color: #f00582;
    border-radius: 0.1rem;
}
span.card-form-row-btn-code.disabled{
    background-color: #bbb;
    pointer-events: none;
}
.card-form-row-eye{
    display: block;
    float: right;
    width: 0.4rem;
    height: 0.56rem;
}
.card-form-row-eye>i.iconfont{
    font-size: 0.4rem;
    line-height: 0.56rem;
}
.card-form-row-input{
    margin: 0;
    padding: 0;
    width: calc(100% - 1.5rem);
    height: 0.56rem;
    line-height: 0.56rem;
    color: #666;
    background-color: transparent;
    caret-color: #f00582;
    border: none;
    outline: none;
}
.card-form-row-input-number{
    width: calc(100% - 2.8rem);
}
.card-form-btn-submit{
    margin: 0.4rem 0;
}
.card-form-btn-submit>button{
    display: block;
    width: 100%;
    height: 0.8rem;
    font-size: 0.32rem;
    line-height: 0.8rem;
    text-align: center;
    color: white;
    background-color: #f00582;
    border: none;
    border-radius: 0.1rem;
    outline: none;
}