#page {
    height: 100vh;
    background-image: url(../img/common/yungou_background.png);
    background-size: 100% auto;
    overflow-y: auto;
}
/* 页面主体 */
#page-content{
    padding: 0.4rem;
}
.page-row{
    font-size: 0;
    margin-bottom: 0.24rem;
}
.page-row>*{
    display: inline-block;
    vertical-align: middle;
    font-size: 0.28rem;
    line-height: 0.64rem;
}
.page-row>label{
    width: 1.3rem;
    color: #999;
}
.page-row>input{
    padding: 0 0.2rem;
    width: calc(100% - 1.3rem);
    border: 0.02rem solid #ddd;
    border-radius: 0.05rem;
    outline: none;
    caret-color: red;
}
.page-row>textarea{
    padding: 0.2rem;
    width: calc(100% - 1.3rem);
    line-height: 0.32rem;
    border: 0.02rem solid #ddd;
    border-radius: 0.05rem;
    outline: none;
    resize: none;
    caret-color: red;
}
#page-content-btn{
    font-size: 0;
}
#page-content-btn>span{
    display: inline-block;
    vertical-align: middle;
    width: calc((100% - 0.4rem) / 2);
    font-size: 0.28rem;
    line-height: 2;
    text-align: center;
    color: white;
    border: 0.02rem solid #ddd;
    border-radius: 0.05rem;
}
#page-content-btn-reset{
    margin-right: 0.4rem;
    background-color: #2af;
}
#page-content-btn-submit{
    background-color: #f00582;
}
/* 修改city-picker样式 */
#city-picker-container{
    position: relative;
}
#city-picker-container .city-picker-dropdown{
    left: 1.3rem !important;
}
#city-picker-container .city-picker-span{
    padding: 0 0.2rem;
    border: 0.02rem solid #ddd;
    border-radius: 0.05rem;
    outline: none;
    white-space: nowrap;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
}
#city-picker-container .city-picker-span .placeholder{
    color: #777;
}
#city-picker-container .city-picker-dropdown{
    display: none;
}
#city-picker-container .city-select-tab>a{
    padding: 0.16rem 0.44rem;
    font-size: 0.28rem;
}
#city-picker-container .city-select{
    font-size: 0.26rem;
}
#city-picker-container .city-select a{
    line-height: 2;
}