#page{
    height: 100vh;
    background-image: url('../img/common/yungou_background.png');
    background-size: 100% auto;
    overflow-y: auto;
}
/* 头部 */
.card-header{
    position: relative;
    height: 0.8rem;
    text-align: center;
    background-color: #f00582;
}
.card-header-back{
    position: absolute;
    left: 0;
    width: 0.8rem;
    height: 0.8rem;
}
.card-header-back>i.iconfont{
    font-size: 0.4rem;
    line-height: 0.8rem;
    color: white;
}
.card-header-text{
    display: block;
    font-size: 0.4rem;
    line-height: 0.8rem;
    color: white;
}
/* 表单 */
.card-form{
    padding: 0 0.8rem;
}
.card-form-row{
    position: relative;
    padding: 0.3rem;
    font-size: 0;
    color: #999;
    border-bottom: 0.02rem solid #bbb;
    overflow: hidden;
}
.card-form-row>*{
    display: inline-block;
    vertical-align: middle;
    font-size: 0.32rem;
}
.card-form-row-icon{
    margin-right: 0.32rem;
    width: 0.72rem;
    height: 0.56rem;
    border-right: 0.03rem solid #999;
}
.card-form-row-icon>i.iconfont{
    font-size: 0.44rem;
    line-height: 0.56rem;
}
.card-form-row-btn-code{
    position: absolute;
    top: 0.3rem;
    right: 0;
    width: 2rem;
    height: 0.56rem;
    line-height: 0.56rem;
    text-align: center;
    color: white;
    background-color: #f00582;
    border-radius: 0.1rem;
}
span.card-form-row-btn-code.disabled{
    background-color: #bbb;
    pointer-events: none;
}
.card-form-row-eye{
    display: block;
    float: right;
    width: 0.4rem;
    height: 0.56rem;
}
.card-form-row-eye>i.iconfont{
    font-size: 0.4rem;
    line-height: 0.56rem;
}
.card-form-row-input{
    margin: 0;
    padding: 0;
    width: calc(100% - 1.5rem);
    height: 0.56rem;
    line-height: 0.56rem;
    color: #666;
    background-color: transparent;
    caret-color: #f00582;
    border: none;
    outline: none;
}
.card-form-row-input-number{
    width: calc(100% - 2.8rem);
}
.card-form-btn-submit{
    margin: 0.4rem 0;
}
.card-form-btn-submit>button{
    display: block;
    width: 100%;
    height: 0.8rem;
    font-size: 0.32rem;
    line-height: 0.8rem;
    text-align: center;
    color: white;
    background-color: #f00582;
    border: none;
    border-radius: 0.1rem;
    outline: none;
}
.card-form-btn-submit>button.disabled{
    background-color: #bbb;
    pointer-events: none;
}
.card-form-check{
    margin-top: 0.4rem;
    text-align: center;
    font-size: 0;
}
.card-form-check>*{
    display: inline-block;
    vertical-align: middle;
    font-size: 0.24rem;
    line-height: 0.32rem;
}
.card-form-check-icon{
    margin-right: 0.1rem;
    width: 0.32rem;
    height: 0.32rem;
}
.card-form-check-icon>i.iconfont{
    font-size: 0.32rem;
    color: #f00582;
}
.card-form-check-box{
    display: none;
}
.card-form-check-text>a{
    color: #2af;
}
/* 登录卡片 */
#login-card-header{
    padding: 0.2rem;
}
#login-card-header-link{
    display: block;
    width: 0.7rem;
    height: 0.7rem;
    color: white;
    background-color: #f00582;
    border-radius: 50%;
}
#login-card-header-link>i.iconfont{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0.5rem;
    line-height: 0.7rem;
    text-align: center;
}
#login-card-logo{
    margin: 1rem 0;
    text-align: center;
}
#login-card-logo-img{
    display: inline-block;
    vertical-align: middle;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    color: white;
    background-color: #f00582;
    border-radius: 0.2rem;
}
#login-card-logo-text{
    margin-top: 0.2rem;
    font-size: 0.32rem;
    color: #999;
}
#login-card-other{
    margin-bottom: 0.4rem;
    padding: 0 0.8rem;
    overflow: hidden;
}
#login-card-other>span{
    display: block;
    font-size: 0.32rem;
    color: #f00582;
}
#login-card-other-register{
    float: left;
}
#login-card-other-retrieve{
    float: right;
}
/* 注册卡片 */
#register-card{
    display: none;
}
#register-card-form{
    margin-top: 0.8rem;
}
/* 找回密码卡片 */
#retrieve-card{
    display: none;
}
#retrieve-card-form{
    margin-top: 0.8rem;
}